body {
    font-family: 'Indie Flower', cursive;
}

.card-img-top {
    height: 200px;
}   

img {
    height: 150px;
    width: 150px;
}

.lead {
padding: 0px 0px 0px 20px;
}

#pictures{
    margin-top: 20px;
}